#news-feed .news-block {
    display: flex;
    justify-content: space-evenly;
    width: 90%;
    margin: 5px;
    padding:5px 0 5px 0
}

#news-feed .news-block .left-block{
    width: 65%;
    font-family: Arial, Helvetica, sans-serif;
}

#news-feed .news-block .right-block{
    width: 35%;
    font-family: Arial, Helvetica, sans-serif;    
} 

#news-feed article{
    display: flex;
    flex-direction: column;
    padding-right: 3%;
    height: 50%;
}

#news-feed .news-block .left-block article{
    height: 100%;
}

#news-feed .news-block .right-block article{
    height: 50%;

}

#news-feed h1{
    margin: 25px 0 20px 0 ;
    font-family:'Signika Negative', sans-serif ;
    font-size: 40px;
    display: flex;
    justify-content: center;
}

#news-feed h2{
    font-size: 24px;
    flex-grow: 1;
    font-family: Roboto, sans-serif;
}

#news-feed p{
    flex-grow: 1;
    font-size: 20px;
    color: rgb(24, 23, 23);
}

#news-feed figure{
    margin: 0;
    margin-bottom: 25px;
    position: relative;

}

#news-feed figure img {   
    width: 100%;
    padding-bottom:5 px;
    border-bottom: 1px solid lightgray;
}