.formulario {
    margin: 35px 0 0 0;
    float: none;
    width: auto;
    overflow-x: hidden;   /*Esconde la scroll-bar horizontal*/
}

.formulario h1 {
    text-align: center;
    color: rgb(122, 10, 10);
}

.formulario p {
    text-align: center;
    color: rgb(122, 10, 10);
}

form {
    max-width: 600px;
    margin: 0 auto 20px auto;
    padding: 20px;
    background: burlywood;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    color: rgb(122, 10, 10);
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;    
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="date"],
input[type="number"],
select,
textarea {
    background-color: antiquewhite;
    width: 100%;
    padding: 10px;
    padding-right: 0;
    margin-bottom: 20px;
    margin-right: 25px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="date"], 
input[type="number"]{
    width: 40%;
    font-size: larger;
    text-align: center;
}

textarea {
    resize: vertical;
    height: 100px;
}

input[type="submit"] {
    color: rgba(255, 127, 80);
    background-color: rgb(122, 10, 10); 
    margin-left: 40%;   
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: rgba(255, 127, 80);
    color: rgb(122, 10, 10);
    
}

#mensajeEnviado{
    width: 55%;
    margin: 35px 20% 35px; 
    text-align: center;
    font-size: 45px;
    padding: 20px;
    background: burlywood;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    color: rgb(122, 10, 10);
}